**/__pycache__
**/*.pyc
**/node_modules
**/.next
**/.env
**/.env.local
**/.env.*.local
**/venv
**/.venv
**/*.db
**/*.sqlite3
**/backups
**/.git
**/.idea
**/.vscode
**/docs
**/*.md
!backend/alembic/**
